body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.counter{
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.buttons button{
    padding: 12px 25px;
    margin: 8px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

#value{
    font-size: 60px;
    margin: 40px;
    color: #333;
}

#increment{
    background-color: green;
    color: white;
}

#reset{
    background-color: dodgerblue;
    color: white;
}

#decrement{
    background-color: red;
    color: white;
}

.buttons :hover{
    opacity: 0.8;
}